@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap');



body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
  
}

.header {
    margin: 0 auto;
}

.header__wrapper {
    padding: 48px 200px;
    background: #4A89DC;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    
   
}

.header__title, .header__position {
    color: #fff;
}

.profile__pic {
    border: 9px solid #fff;
   }
    


.skills__item {
    background: #37BC9B;
    color: #fff;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 20px;
}


.code__content {
    background-color: #bcc8d7;
    display: inline-block;
    border-radius: 20px;
}
/* #4A89DC */
/* #37BC9B */